
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    background-color: #C1DCDC;
}
.wrapper {
    background-color: white;
    padding: 30px 70px;
}

ul {
    text-align: center;
}
#content {
    overflow: hidden;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
}

.column1 {
    float: left;
}
.column2 {
    margin: 0% 3%;
}
.column3 {
    float: right;
    margin: 0%;
}


li {
    display: inline;
    padding: 0.5em;
}

.banner, .article {
    background-color: #efefef;
    height: 10em;
    margin-bottom: 1em;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-icon {
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
}

.products, .contact {
    font-size: 18px;
    color: rgba(30, 30, 30, 0.5);
}

.home {
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
}

.banner {
    display: flex;
    justify-content: space-around;
    height: 512px;
    background-color: #C1DCDC;
    border-radius: 24px;
}

.banner-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 0;
}

.tree-banner {
    width: 466px;
}

.banner-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner-info {
    width: 512px;
    height: 227px;
}

.search-box {
    width: 449px;
    height: 64px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 5px;
}
  
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 18px;
}

.search-box input::placeholder {
    color: rgba(30, 30, 30, 0.5);
}
  
.search-box button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    width: 48px;
    height: 48px;
    background-color: #C1DCDC;
    border-radius: 12px;
}

.allcard {
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: flex-start;
}

.trees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    min-width: 256px;
    padding-left: 120px;
}

.card-title {
    display: flex;
    flex-direction: column;
}

.title-bestsell {
    width: 256px;
    height: 189px;
    padding-bottom: 20px;
}

.name-tree {
    font-size: 18px;
    color: #1E1E1E;
}

.price {
    font-size: 18px;
    color: rgba(30, 30, 30, 0.5);
}

.aboutus {
    text-align: center;
}

.allservice {
    display: flex;
}

.service {
    padding: 30px 100px;
}

.title-about {
    font-weight: 700;
    font-size: 32px;
    color: #1E1E1E;
    margin-bottom: 0;
    padding-left: 80px;
}

.info-about {
    font-weight: 500;
    font-size: 18px;
    color: rgba(30, 30, 30, 0.5);
}

.m {
    padding-left: 80px;
}

.title-service {
    font-size: 18px;
    font-weight: 700;
}

.categories {
    background-color: white;
    text-align: center;
}

.cate-bg {
    width: 100%;
    height: 841px;
    background-color: #C1DCDC;
    display: flex;
    justify-content: space-around;
}

.cate-card {
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-cate {
    margin-top: 0;
    font-weight: 700;
    font-size: 32px;
    color: #1E1E1E;
    margin-bottom: 0;
}

.cate-info {
    font-weight: 500;
    font-size: 18px;
    color: rgba(30, 30, 30, 0.5);
    padding-bottom: 60px;
}

.mini {
    margin: 0;
}

.cate-name {
    font-weight: 700;
    font-size: 18px;
    color: #1E1E1E;
}

.cardup {
    transform: translateY(-35px);
}

.carddown {
    transform: translateY(35px);
}

.allreview {
    display: flex;
    justify-content: space-between;
}

.title-review {
    font-weight: 700;
    font-size: 32px;
}

.review-box {
    width: 800px;
    height: 330px;
    background: #C1DCDC;
    border-radius: 12px;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.report {
    color: rgba(30, 30, 30, 0.75);
    font-size: 18px;
}

.review-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer {
    width: 30%;
    display: flex;
}

.info-cus {
    padding-top: 50px;
}

.name-cus {
    line-height: 0;
    font-weight: 700;
    font-size: auto;
    color: #1E1E1E;
}

.title-cus {
    font-weight: 500;
    font-size: 12px;
    color: rgba(30, 30, 30, 0.5);
}

.rating {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.rate {
    font-weight: 700;
    font-size: 18px;
    color: #1E1E1E;
}

footer {
    width: 100%;
    height: 423px;
    padding: 48px 98px;
}
